<tr>
  <td>
    <%= Currency.find(purse.currency_id).symbol %>
  </td>
  <td>
    <%= purse.content %>
  </td>
  <td>
    <%= link_to "Put", put_path(:id => purse) %>
  </td>
  <td>
    <%= link_to "Output", output_path(:id => purse) %>
  </td>
  <td>
    <%= link_to "delete", purse, :method => :delete %>
  </td>
</tr>

