<h1>New purse</h1>

<%= form_for(@purse) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label 'Select the curency' %><br />
    <%= f.select(:currency_id, options_for_select(no_user_currencies_array)) %>
  </div>
  <div class="field">
    <%= f.hidden_field(:content, :value=>'0') %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

