<h1>My purse</h1>

<%= form_for(@purse, :url => up_output_path) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label 'Output' %><br />
    <%= f.text_field :money %>
  </div>
  <div class="actions">
    <%= f.submit "Output" %>
  </div>
<% end %>

