<h1>My purse</h1>

<%= form_for(@purse, :url => up_put_path) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label 'Put' %><br />
    <%= f.text_field :put %>
  </div>
  <div class="actions">
    <%= f.submit "Put" %>
  </div>
<% end %>


