<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Kyrsu valyt", '#' %></li>
      <% if signed_in? %>
      <li><%= link_to "My purses", '#' %></li>
      <li><%= link_to "Obmenat valyty", '#' %></li>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

